@font-face {
  font-family: "plugin";
  src: url("../fonts/plugin.eot");
  src: url("../fonts/plugin.eot?#iefix") format("embedded-opentype"), url("../fonts/plugin.woff") format("woff"), url("../fonts/plugin.ttf") format("truetype"), url("../fonts/plugin.svg#plugin") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "plugin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-credit-card:before {
  content: "a";
}

.icon-login:before {
  content: "f";
}

.icon-heart-filled:before {
  content: "b";
}

.icon-heart-line:before {
  content: "c";
}

.icon-bell-filled:before {
  content: "d";
}

.icon-bell-line:before {
  content: "e";
}

.icon-info:before {
  content: "g";
}

.icon-right-arrow:before {
  content: "j";
}

.icon-sad:before {
  content: "h";
}

.icon-happy:before {
  content: "k";
}

.icon-tag:before {
  content: "l";
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

input[type="text"] {
  padding: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #c5c5c5;
  font-size: 13px;
  color: #7f8492;
}
input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #ff752b;
  -moz-transition: ease 0.2s all;
  -o-transition: ease 0.2s all;
  -webkit-transition: ease 0.2s all;
  transition: ease 0.2s all;
}
input[type="text"]::-webkit-input-placeholder {
  color: #7f8492;
}
input[type="text"]::-moz-placeholder {
  color: #7f8492;
}
input[type="text"]:-ms-input-placeholder {
  color: #7f8492;
}
input[type="text"]::placeholder {
  color: #7f8492;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
button:focus {
  outline: none;
}

.EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .input_price {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 0;
  line-height: normal;
}
.EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .input_price:before {
  content: "$";
}
.EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .input_price .expect_price_num {
  margin: 0 0 0 -1px;
  padding: 0;
  width: 100px;
  font-family: Verdana;
}
.EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .btn_discount {
  padding: 1px 10px;
  background-color: #ff752b;
  font-size: 16px;
  color: #fff;
  border-bottom: 2px solid #ff5f09;
  line-height: normal;
}
.EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .btn_discount:focus, .EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .btn_discount:hover {
  outline: none;
  background-color: #ff5f09;
  border-bottom: 2px solid #e04e00;
}
.EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .btn_discount._disabled {
  background-color: #c5c5c5;
  border-bottom: 2px solid #7f8492;
  cursor: not-allowed;
}
.EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .btn_submit {
  display: block;
  margin: 8px 0 3px 0;
  width: 100%;
  height: 35px;
  font-size: 16px;
  color: #fff;
  background-color: #ff752b;
}
.EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .btn_submit:hover, .EZcpr_btn .EZcpr_notice .notice_dropdown ul.dropdown_setting li .btn_submit:focus {
  background-color: #ff5f09;
}

.control {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 13px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #7f8492;
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.control:hover input ~ .control_indicator {
  border: 1px solid #ff752b;
  background: #e8e8e8;
}
.control input:focus ~ .control_indicator {
  border: 1px solid #ff752b;
  background: #e8e8e8;
}
.control input:checked ~ .control_indicator {
  border: 1px solid #ff752b;
  background: #fff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator {
  border: 1px solid #ff752b;
  background: #fff;
}
.control input:checked:focus ~ .control_indicator {
  border: 1px solid #ff752b;
  background: #fff;
}

.control_indicator:after {
  content: "";
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control_checkbox .control_indicator:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #ff752b;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.EZcpr_feeback .q_area .btn_yes, .EZcpr_feeback .q_area .btn_no {
  cursor: pointer;
  color: #7f8492;
}
.EZcpr_feeback .q_area .btn_yes .icon-happy:before, .EZcpr_feeback .q_area .btn_yes .icon-sad:before, .EZcpr_feeback .q_area .btn_no .icon-happy:before, .EZcpr_feeback .q_area .btn_no .icon-sad:before {
  vertical-align: text-bottom;
  font-size: 16px;
}
.EZcpr_feeback .q_area .btn_yes:hover, .EZcpr_feeback .q_area .btn_no:hover {
  color: #24A96E;
}
.EZcpr_feeback .q_area .btn_no {
  margin: 0 0 0 5px;
}
.EZcpr_feeback .q_area .btn_no:hover {
  color: #e53331;
}
.EZcpr_feeback .no_area_form1 .input_idea, .EZcpr_feeback .no_area_form2 .input_idea {
  float: left;
  width: 230px;
  height: 26px;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 2px 0px 0px 2px;
  font-size: 12px;
  padding: 0 0 0 5px;
  color: #1e2340;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.EZcpr_feeback .no_area_form1 .input_idea:focus, .EZcpr_feeback .no_area_form2 .input_idea:focus {
  border: 1px solid #ff752b;
}
.EZcpr_feeback .no_area_form1 .input_idea:placeholder-shown, .EZcpr_feeback .no_area_form2 .input_idea:placeholder-shown {
  color: #ff752b;
}
.EZcpr_feeback .no_area_form1 .input_idea::-webkit-input-placeholder, .EZcpr_feeback .no_area_form2 .input_idea::-webkit-input-placeholder {
  color: #ccc;
}
.EZcpr_feeback .no_area_form1 .input_idea::-moz-placeholder, .EZcpr_feeback .no_area_form2 .input_idea::-moz-placeholder {
  color: #ccc;
}
.EZcpr_feeback .no_area_form1 .input_idea:-ms-input-placeholder, .EZcpr_feeback .no_area_form2 .input_idea:-ms-input-placeholder {
  color: #ccc;
}
.EZcpr_feeback .no_area_form1 .input_idea::placeholder, .EZcpr_feeback .no_area_form2 .input_idea::placeholder {
  color: #ccc;
}
.EZcpr_feeback .no_area_form1 .btn_next, .EZcpr_feeback .no_area_form2 .btn_next {
  float: left;
  margin: 0;
  width: 50px;
  height: 26px;
  background-color: #c5c5c5;
  color: #fff;
  font-size: 12px;
  border-radius: 0 2px 2px 0;
  trasition: 0.5s all ease-in;
}
.EZcpr_feeback .no_area_form1 .btn_next_submit, .EZcpr_feeback .no_area_form2 .btn_next_submit {
  background-color: #ff752b;
}
.EZcpr_feeback .no_area_form1 .btn_pass, .EZcpr_feeback .no_area_form2 .btn_pass {
  float: left;
  margin: 0 0 0 8px;
  height: 26px;
  color: #c5c5c5;
  background-color: transparent;
}

.rec_card_popup .shop_dropdown_area {
  float: left;
  position: relative;
  width: 215px;
  margin: 1px 0 0 15px;
}
.rec_card_popup .shop_dropdown_area .marka {
  position: absolute;
  right: 8px;
  top: 10px;
  z-index: 10001;
  cursor: pointer;
}
.rec_card_popup .shop_dropdown_area .marka i {
  background: #7f8492 !important;
}
.rec_card_popup .shop_dropdown_area .input_choice {
  display: block;
  width: 196px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #c5c5c5;
  outline: 0;
  color: #7f8492;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform-origin: right top;
  opacity: 1;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 30.4px;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}
.rec_card_popup .shop_dropdown_area .input_choice.open {
  opacity: 0;
}
.rec_card_popup .shop_dropdown_area .dropdown_menu {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  z-index: 10000;
  margin: 1em auto;
  padding: 0;
  width: 215px;
  max-height: 210px;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  text-align: left;
  border-radius: 2px;
  background: #fafafa;
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
.rec_card_popup .shop_dropdown_area .dropdown_menu li {
  position: relative;
  line-height: 2.35em;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  opacity: 0;
  border-bottom: 1px solid #e8e8e8;
}
.rec_card_popup .shop_dropdown_area .dropdown_menu li:last-child {
  border-bottom: none;
}
.rec_card_popup .shop_dropdown_area .dropdown_menu li a {
  display: block;
  padding: 0 1em;
  color: #7f8492;
  text-decoration: none;
  font-size: 16px;
}
.rec_card_popup .shop_dropdown_area .dropdown_menu li a:hover {
  color: #ff752b;
  background-color: #f5f5f5;
}
.rec_card_popup .shop_dropdown_area .dropdown_menu.open {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.rec_card_popup .shop_dropdown_area .dropdown_menu.open li {
  -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.rec_card_popup .bank_dropdown_area, .rec_card_popup .bank_dropdown_area2, .rec_card_popup .bank_dropdown_area3 {
  float: left;
  position: relative;
  width: 100%;
}
.rec_card_popup .bank_dropdown_area .marka, .rec_card_popup .bank_dropdown_area2 .marka, .rec_card_popup .bank_dropdown_area3 .marka {
  position: absolute;
  right: 16px;
  top: 10px;
  z-index: 9999;
  cursor: pointer;
}
.rec_card_popup .bank_dropdown_area .marka i, .rec_card_popup .bank_dropdown_area2 .marka i, .rec_card_popup .bank_dropdown_area3 .marka i {
  background: #7f8492 !important;
}
.rec_card_popup .bank_dropdown_area .input_choice, .rec_card_popup .bank_dropdown_area2 .input_choice, .rec_card_popup .bank_dropdown_area3 .input_choice {
  display: block;
  padding: 6px 0px 6px 12px;
  background: transparent;
  border: 1px solid #c5c5c5;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  outline: 0;
  color: #7f8492;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform-origin: right top;
  opacity: 1;
}
.rec_card_popup .bank_dropdown_area .input_choice.open, .rec_card_popup .bank_dropdown_area2 .input_choice.open, .rec_card_popup .bank_dropdown_area3 .input_choice.open {
  opacity: 0;
}
.rec_card_popup .bank_dropdown_area .dropdown_menu, .rec_card_popup .bank_dropdown_area2 .dropdown_menu, .rec_card_popup .bank_dropdown_area3 .dropdown_menu {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  z-index: 5;
  margin: 1em auto;
  padding: 0;
  max-height: 285px;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  text-align: left;
  border-radius: 2px;
  background: #fafafa;
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
.rec_card_popup .bank_dropdown_area .dropdown_menu li, .rec_card_popup .bank_dropdown_area2 .dropdown_menu li, .rec_card_popup .bank_dropdown_area3 .dropdown_menu li {
  position: relative;
  line-height: 2.35em;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  opacity: 0;
  border-bottom: 1px solid #e8e8e8;
}
.rec_card_popup .bank_dropdown_area .dropdown_menu li:last-child, .rec_card_popup .bank_dropdown_area2 .dropdown_menu li:last-child, .rec_card_popup .bank_dropdown_area3 .dropdown_menu li:last-child {
  border-bottom: none;
}
.rec_card_popup .bank_dropdown_area .dropdown_menu li a, .rec_card_popup .bank_dropdown_area2 .dropdown_menu li a, .rec_card_popup .bank_dropdown_area3 .dropdown_menu li a {
  display: block;
  padding: 0 1em;
  color: #7f8492;
  text-decoration: none;
  font-size: 14px;
}
.rec_card_popup .bank_dropdown_area .dropdown_menu li a:hover, .rec_card_popup .bank_dropdown_area2 .dropdown_menu li a:hover, .rec_card_popup .bank_dropdown_area3 .dropdown_menu li a:hover {
  color: #ff752b;
  background-color: #f5f5f5;
}
.rec_card_popup .bank_dropdown_area .dropdown_menu li .bank_act, .rec_card_popup .bank_dropdown_area2 .dropdown_menu li .bank_act, .rec_card_popup .bank_dropdown_area3 .dropdown_menu li .bank_act {
  display: block;
  margin: 0 0 4px 13px;
  max-height: 18px;
  overflow: hidden;
  color: #e53331;
  font-size: 12px;
  line-height: normal;
}
.rec_card_popup .bank_dropdown_area .dropdown_menu.open, .rec_card_popup .bank_dropdown_area2 .dropdown_menu.open, .rec_card_popup .bank_dropdown_area3 .dropdown_menu.open {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.rec_card_popup .bank_dropdown_area .dropdown_menu.open li, .rec_card_popup .bank_dropdown_area2 .dropdown_menu.open li, .rec_card_popup .bank_dropdown_area3 .dropdown_menu.open li {
  -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.rec_card_popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.85);
  z-index: 99999;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif, "Microsoft JhengHei";
}
.rec_card_popup:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.rec_card_popup .overlay-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.85);
}
.rec_card_popup .popup_content {
  position: relative;
  display: inline-block;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  width: 840px;
  height: 500px;
  max-height: 75%;
  background: #fff;
  cursor: auto;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
  border: 1px solid #d5d5d5;
  box-shadow: 0 2px 4px #d5d5d5;
  -webkit-box-shadow: 0 2px 4px #d5d5d5;
}
.rec_card_popup .popup_content .popup_header {
  padding: 25px 35px;
  background-color: #f9f9f9;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 6px;
}
.rec_card_popup .popup_content .popup_header:after {
  content: "";
  display: table;
  clear: both;
}
.rec_card_popup .popup_content .popup_header .card_title {
  float: left;
  font-size: 24px;
  color: #ff752b;
}
.rec_card_popup .popup_content .popup_header .card_title .icon-credit-card:before {
  vertical-align: text-bottom;
  font-size: 30px;
}
.rec_card_popup .popup_content .popup_header .pd_area {
  float: right;
  margin: -5px 15px 0 0;
  width: 340px;
  max-height: 40px;
  overflow: hidden;
}
.rec_card_popup .popup_content .popup_header .pd_area .pd_price {
  font-size: 16px;
  color: #ff752b;
  font-family: Verdana;
}
.rec_card_popup .popup_content .popup_header .pd_area .pd_price:before {
  content: "$";
}
.rec_card_popup .popup_content .popup_header .pd_area .pd_name {
  font-size: 14px;
  color: #7f8492;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.rec_card_popup .popup_content .popup_bank_area {
  padding: 25px 10px 0 10px;
}
.rec_card_popup .popup_content .popup_bank_area:after {
  content: "";
  display: table;
  clear: both;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  float: left;
  width: 27%;
  padding: 0 25px;
  border-right: 1px solid #e8e8e8;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area .bank_empty_state {
  float: left;
  margin: 8px 0 0 0;
  width: 100%;
  text-align: center;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area .bank_empty_state img {
  display: inline-block;
  max-width: 100%;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area .empty_text {
  display: inline-block;
  font-size: 13px;
  color: #c5c5c5;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area._last {
  border-right: none;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list {
  margin: 45px 0 0 0;
  padding: 0;
  max-height: 305px;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li {
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  color: #7f8492;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li a {
  display: block;
  padding: 10px 0;
  color: #7f8492;
  text-decoration: none;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li a:hover {
  background-color: #f5f5f5;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li:last-child {
  border-bottom: none;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li.bank_rec {
  padding: 0;
  background-color: #f5f5f5;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li.bank_rec:after {
  content: "";
  display: table;
  clear: both;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li.bank_rec .bank_rec_text {
  float: left;
  margin: 10px 0 10px 10px;
  width: 68%;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  font-size: 13px;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li.bank_rec .bank_rec_link {
  float: right;
  margin: 18px 10px 0 0;
  padding: 2px 0px 2px 4px;
  font-size: 12px;
  color: #e53331;
  border: 1px solid #e53331;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  text-decoration: none;
  line-height: initial;
  width: auto;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li.bank_rec .bank_rec_link .icon-right-arrow:before {
  float: right;
  font-size: 16px;
}
.rec_card_popup .popup_content .popup_bank_area .bank_area ul.rec_list li .bank_spec {
  color: #e53331;
}
.rec_card_popup .popup_close {
  position: absolute;
  z-index: 9999;
  top: 32px;
  right: 32px;
  line-height: 25px;
  font-size: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: rgba(255, 255, 255, 0.3);
  color: #999;
}
.rec_card_popup .popup_close:hover {
  color: #797979;
}

.love_popup, .notice_popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.85);
  z-index: 99999;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif, "Microsoft JhengHei";
}
.love_popup:before, .notice_popup:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.love_popup .popup_content, .notice_popup .popup_content {
  position: relative;
  display: inline-block;
  width: 240px;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 75%;
  background: #fff;
  cursor: auto;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  border: 1px solid #d5d5d5;
  box-shadow: 0 2px 4px #d5d5d5;
  -webkit-box-shadow: 0 2px 4px #d5d5d5;
}
.love_popup .popup_content .popup_title, .notice_popup .popup_content .popup_title {
  display: block;
  margin: 20px 0;
  color: #7f8492;
  font-size: 20px;
}
.love_popup .popup_content .popup_title .icon-heart-filled, .notice_popup .popup_content .popup_title .icon-heart-filled {
  color: #e53331;
}
.love_popup .popup_content .popup_title .icon-bell-filled, .notice_popup .popup_content .popup_title .icon-bell-filled {
  color: #ffcb00;
}
.love_popup .popup_content .pd_img, .notice_popup .popup_content .pd_img {
  display: inline-block;
  width: 160px;
  height: 160px;
  overflow: hidden;
}
.love_popup .popup_content .pd_img img, .notice_popup .popup_content .pd_img img {
  max-width: 100%;
}
.love_popup .popup_content .pd_name, .notice_popup .popup_content .pd_name {
  display: block;
  margin: 10px auto;
  width: 160px;
  max-height: 44px;
  overflow: hidden;
  color: #7f8492;
  text-align: left;
}
.love_popup .popup_content .pd_price, .notice_popup .popup_content .pd_price {
  display: block;
  margin: 0px auto;
  width: 160px;
  font-size: 14px;
  color: #e53331;
  text-align: left;
  font-family: Verdana;
}
.love_popup .popup_content .pd_price:before, .notice_popup .popup_content .pd_price:before {
  content: "$";
}
.love_popup .popup_content .pd_platform, .notice_popup .popup_content .pd_platform {
  display: block;
  margin: 5px auto 20px auto;
  width: 160px;
  text-align: left;
  font-size: 14px;
  color: #c5c5c5;
}

.EZcpr_w {
  width: 330px;
  margin: 30px 0 45px !important;
  font-size: 13px;
  font-family: Verdana, Arial, Helvetica, sans-serif, "Microsoft JhengHei";
  text-align: left;
}
.EZcpr_w a:hover {
  text-decoration: none;
}

.EZcpr {
  background-color: #fff;
  border: 1px solid #ff752b;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: rgba(255, 124, 6, 0.2) 0 3px 7px;
  -webkit-box-shadow: rgba(255, 124, 6, 0.2) 0 3px 7px;
  box-shadow: rgba(255, 124, 6, 0.2) 0 3px 7px;
}
.EZcpr ul.EZcpr_ct {
  position: relative;
  padding: 0;
  margin: 3px 8px 0;
  list-style: none;
}
.EZcpr ul.EZcpr_ct li {
  position: relative;
}
.EZcpr ul.EZcpr_ct li .rec_card {
  position: absolute;
  top: 7px;
  z-index: 2;
  text-decoration: none;
}
.EZcpr ul.EZcpr_ct li .rec_card .icon-credit-card:before {
  font-size: 21px;
  color: #2b81da;
}
.EZcpr ul.EZcpr_ct li .rec_card:hover .icon-credit-card:before {
  color: #ff752b;
}

.EZcpr_hd {
  line-height: 19px;
  padding: 8px !important;
  background: #ff752b;
}
.EZcpr_hd:after {
  content: "";
  display: table;
  clear: both;
}

.EZcpr_t {
  float: left;
  display: inline-block;
  height: 20px;
  width: auto;
}
.EZcpr_t img.ez_logo {
  max-height: 100%;
  width: auto;
}

.EZcpr_ud {
  float: right;
  font-size: 12px;
  color: #fff;
  margin: 2px 0 0 0;
  white-space: nowrap;
}

.EZcpr_i,
a.EZcpr_i {
  position: relative;
  display: block;
  height: 34px;
  border: 0;
  border-bottom: 1px solid #eee;
  font-size: 0;
  white-space: nowrap;
  line-height: 1em;
  padding: 0;
}
.EZcpr_i:hover, .EZcpr_i._focus,
a.EZcpr_i:hover,
a.EZcpr_i._focus {
  background-color: #f9f9f9;
}
.EZcpr_i._crt .EZcpr_g,
a.EZcpr_i._crt .EZcpr_g {
  position: absolute;
  top: 2px;
  right: -19px;
  font-size: 13px;
}
.EZcpr_i._crt .EZcpr_g.tag_e,
a.EZcpr_i._crt .EZcpr_g.tag_e {
  padding: 0;
  width: 76px;
  height: 38px;
  background: url(../images/tag.png) no-repeat 0 -39px;
  background-size: 100%;
  color: #fff;
}
.EZcpr_i._crt .EZcpr_g.tag_e span.tag_word,
a.EZcpr_i._crt .EZcpr_g.tag_e span.tag_word {
  display: inline-block;
  line-height: normal;
  margin: 5px 0 0 14px;
}
.EZcpr_i._crt .EZcpr_g.tag_c,
a.EZcpr_i._crt .EZcpr_g.tag_c {
  top: 0px;
  padding: 0;
  width: 76px;
  height: 38px;
  background: url(../images/tag.png) no-repeat 0 0;
  background-size: 100%;
  color: #1e2340;
}
.EZcpr_i._crt .EZcpr_g.tag_c span.tag_word,
a.EZcpr_i._crt .EZcpr_g.tag_c span.tag_word {
  display: inline-block;
  line-height: normal;
  margin: 5px 0 0 21px;
  background: none;
}
.EZcpr_i._crt .EZcpr_g.tag_c span.tag_word:before,
a.EZcpr_i._crt .EZcpr_g.tag_c span.tag_word:before {
  float: left;
  margin: 3px 4px 0 -8px;
  font-size: 14px;
}

.EZcpr_i .EZcpr_s,
.EZcpr_i .EZcpr_s,
.EZcpr_p,
.EZcpr_g {
  position: relative;
  float: left;
  display: inline-block;
  padding: 4px 8px;
  height: 26px;
  line-height: 26px;
  vertical-align: top;
  font-size: 13px;
}

.EZcpr_s {
  margin: 0 0 0 20px !important;
  width: 142px;
  color: #656c7d;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.EZcpr_p {
  text-align: right;
  width: 56px;
  color: #e53331;
}

.EZcpr .EZcpr_ft {
  margin: 8px 0 0 0;
  padding: 8px;
  font-size: 13px;
  color: #ff752b;
  background-color: rgba(255, 117, 43, 0.13);
  cursor: pointer;
  text-align: left;
}
.EZcpr .EZcpr_ft:hover {
  background-color: rgba(255, 117, 43, 0.2);
}
.EZcpr .EZcpr_ft .icon-credit-card:before {
  color: #656c7d;
  font-size: 20px;
  vertical-align: middle;
}

.EZcpr_desc {
  width: 100%;
  margin: 5px 0 0 0;
  font-size: 12px;
  line-height: 18px;
  color: #ddd;
  white-space: nowrap;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
}
.EZcpr_desc .desc_text {
  display: inline-block;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -moz-transform: scale(0.83);
  -ms-transform: scale(0.83);
  -webkit-transform: scale(0.83);
  transform: scale(0.83);
}

a.tooltip h3 {
  margin: 5px 0 0 0;
  max-height: 41px;
  line-height: 14px;
  overflow: hidden;
  color: #656c7d;
  font-size: 12px;
  white-space: normal;
  text-align: justify;
}
a.tooltip .pd_img {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
a.tooltip .pd_img img {
  max-width: 100%;
}
a.tooltip span.tooltip_img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: -29px;
  right: -115px;
  display: none;
  padding: 5px;
  width: 110px;
  z-index: 10;
  background: #eeeeee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 3, 0, 0.4);
  box-shadow: 1px 1px 5px rgba(0, 3, 0, 0.4);
}
a.tooltip span.tooltip_img:before {
  position: absolute;
  left: -13px;
  top: 40px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 13px 7.5px 0;
  border-color: transparent #eee transparent transparent;
}
a.tooltip:hover span.tooltip_img {
  display: inline-block;
}

.EZcpr_btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 8px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.EZcpr_btn:after {
  content: "";
  display: table;
  clear: both;
}
.EZcpr_btn .EZcpr_love, .EZcpr_btn .EZcpr_notice, .EZcpr_btn .EZcpr_detail {
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 13px;
  color: #7f8492;
  text-decoration: none;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.EZcpr_btn .EZcpr_love:hover, .EZcpr_btn .EZcpr_notice:hover, .EZcpr_btn .EZcpr_detail:hover {
  color: #585858;
  font-weight: bold;
}
.EZcpr_btn .EZcpr_love:hover span, .EZcpr_btn .EZcpr_notice:hover span, .EZcpr_btn .EZcpr_detail:hover span {
  color: #7f8492;
  font-weight: normal;
}
.EZcpr_btn .EZcpr_love {
  border: 1px solid #ff752b;
  border-radius: 2px 0 0 2px;
}
.EZcpr_btn .EZcpr_love .icon-heart-line {
  margin-right: 5px;
}
.EZcpr_btn .EZcpr_love .icon-heart-line:before {
  font-size: 18px;
  vertical-align: text-bottom;
}
.EZcpr_btn .EZcpr_love .icon-heart-filled {
  margin-right: 5px;
}
.EZcpr_btn .EZcpr_love .icon-heart-filled:before {
  font-size: 18px;
  vertical-align: text-bottom;
  color: #e53331;
}
.EZcpr_btn .EZcpr_notice {
  border-top: 1px solid #ff752b;
  border-bottom: 1px solid #ff752b;
}
.EZcpr_btn .EZcpr_notice .icon-bell-line:before {
  font-size: 18px;
  vertical-align: text-bottom;
}
.EZcpr_btn .EZcpr_notice .icon-bell-filled:before {
  color: #ffcb00;
  font-size: 18px;
  vertical-align: text-bottom;
}
.EZcpr_btn .EZcpr_notice .notice_dropdown {
  display: none;
}
.EZcpr_btn .EZcpr_notice._click {
  border-bottom: none;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown {
  display: inline-block;
  position: absolute;
  top: 42px;
  left: 0px;
  width: 330px;
  background-color: #fff;
  border-right: 1px solid #ff752b;
  border-left: 1px solid #ff752b;
  border-bottom: 1px solid #ff752b;
  z-index: 9999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0 0 2px 2px;
  -moz-box-shadow: rgba(255, 124, 6, 0.2) 0 3px 7px;
  -webkit-box-shadow: rgba(255, 124, 6, 0.2) 0 3px 7px;
  box-shadow: rgba(255, 124, 6, 0.2) 0 3px 7px;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown .notice_word {
  display: block;
  padding: 5px 8px;
  background-color: #f5f5f5;
  text-align: left;
  color: #ff752b;
  font-size: 12px;
  line-height: normal;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown .notice_word .icon-info:before {
  float: left;
  margin: 3px 5px 0 0;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li {
  position: relative;
  padding: 0 8px 0 8px;
  border-bottom: 1px solid #e8e8e8;
  min-height: 40px;
  line-height: 40px;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li:last-child {
  border-bottom: none;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .current_price {
  display: inline-block;
  margin: 0 8px 0 0;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .current_price_num:before {
  content: "$";
  padding: 0 3px 0 0;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .o_spot {
  position: absolute;
  top: 8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #ff752b;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .expect_price {
  display: inline-block;
  padding: 0 0 0 6px;
  color: #ff752b;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .note_word, .EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .error_word {
  margin: -8px 0 10px 74px;
  display: block;
  line-height: normal;
  font-size: 12px;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .error_word {
  color: #e53331;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .notice_way {
  display: inline-block;
  padding: 0 0 0 6px;
  color: #ff752b;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .email_way {
  margin: 0 0 15px 7px;
  line-height: normal;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .email_way .email_title {
  display: inline-block;
  margin: 2px 0 0 0;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .email_way .input_email, .EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .email_way .input_phone {
  display: none;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .email_way._show .input_email, .EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .email_way._show .input_phone {
  display: inline-block;
  width: 130px;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .email_way .email_error_word {
  margin: 3px 0 0 63px;
  display: inline-block;
  font-size: 12px;
  color: #e53331;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .phone_way {
  margin: 0 0 10px 7px;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li .phone_way .input_phone {
  margin: 0 0 0 9px;
}
.EZcpr_btn .EZcpr_notice._click .notice_dropdown ul.dropdown_setting li span.discount_area {
  color: #333333;
}
.EZcpr_btn .EZcpr_detail {
  border: 1px solid #ff752b;
  border-radius: 0 2px 2px 0;
}
.EZcpr_btn .EZcpr_detail .icon-login:before {
  font-size: 18px;
  vertical-align: text-bottom;
}

form.EZcpr_feeback {
  padding: 0 8px;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  color: #7f8492;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}
form.EZcpr_feeback:after {
  content: "";
  display: table;
  clear: both;
}
form.EZcpr_feeback .q_area .link_suggest {
  float: right;
  cursor: pointer;
  text-decoration: underline;
  width: auto;
}
form.EZcpr_feeback .yes_area, form.EZcpr_feeback .no_area_form1, form.EZcpr_feeback .no_area_form2, form.EZcpr_feeback .no_area {
  display: none;
}
form.EZcpr_feeback .yes_area, form.EZcpr_feeback .no_area {
  color: #ff752b;
}
form.EZcpr_feeback .yes_area .icon-happy:before, form.EZcpr_feeback .no_area .icon-happy:before {
  font-size: 16px;
  vertical-align: text-bottom;
  color: #ffb700;
}
form.EZcpr_feeback .no_area_form1, form.EZcpr_feeback .no_area_form2 {
  margin: 7px 0 0 0;
}

.EZcpr_ADlink {
  color: #2B81DA;
}

.EZcpr_w .EZcpr_btn {
  margin: 8px 0 0 0;
}

i.icon, span.icon {
  vertical-align: initial;
  margin: 0;
  width: auto;
  height: auto;
  display: initial;
}



/*# sourceMappingURL=EZ-ext.css.map */