/* line 1, ../sass/_EZcpr.sass */
.EZcpr_w {
  width: 330px;
  margin: 30px 0 45px !important;
  font-size: 13px;
  font-family: Verdana,Arial,Helvetica,sans-serif,"Microsoft JhengHei";
}

/* line 5, ../sass/_EZcpr.sass */
.EZcpr {
  background-color: white;
  border: 1px solid #656c7d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.125) 0 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 6px;
}

._crt {
  background: #FFEEE3;
}

/* line 10, ../sass/_EZcpr.sass */
.EZcpr_hd {
  line-height: 19px;
  padding: 8px !important;
  background: #656c7d;
  height: 20px;
}
/* line 3, ../sass/EZ-ext.sass */
.EZcpr_hd:after {
  content: "";
  display: table;
  clear: both;
}

/* line 15, ../sass/_EZcpr.sass */
.EZcpr_t {
  float: left;
  height: 20px;
}

/* line 18, ../sass/_EZcpr.sass */
.EZcpr_udbox {
  width: 24px;
  height: 20px;
  float: left;
  margin-left: 10px;
  background: url("../images/img_ud.png") no-repeat 50% 50%;
  cursor: pointer;
}
/* line 26, ../sass/_EZcpr.sass */
.EZcpr_udbox:hover .EZcpr_ud {
  display: block;
}

/* line 28, ../sass/_EZcpr.sass */
.EZcpr_ud {
    float: right;
    font-size: 12px;
    color: #d7d9dc;
    margin-top: 2px !important;
}

/* line 38, ../sass/_EZcpr.sass */
.EZrpt {
  float: right;
}
/* line 3, ../sass/EZ-ext.sass */
.EZrpt:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, ../sass/_EZcpr.sass */
.EZrpt a {
  color: #c8cacf!important;
  text-decoration: none!important;
  float: left!important;
}
/* line 45, ../sass/_EZcpr.sass */
.EZrpt a:hover {
  text-decoration: underline!important;
}
/* line 47, ../sass/_EZcpr.sass */
.EZrpt .EZrpt_msg {
  width: 24px;
  height: 19px;
  background: url(../images/img_msg.png) no-repeat 50% 0;
  display: block;
  float: right;
  margin-left: 5px;
  margin-top: 1px;
  cursor: pointer;
}
/* line 56, ../sass/_EZcpr.sass */
.EZrpt .EZrpt_msg:hover {
  background: url(../images/img_msg.png) no-repeat 50% 100%;
}
/* line 58, ../sass/_EZcpr.sass */
.EZrpt .EZrpt_msg._on {
  background: url(../images/img_msg.png) no-repeat 50% 100%;
}

/* line 61, ../sass/_EZcpr.sass */
.EZcpr_ct {
  margin: 8px 8px 0 !important;
  position: relative;
}
/* line 64, ../sass/_EZcpr.sass */
.EZcpr_ct input[type=text] {
  color: #6f6f6f;
  line-height: 1.6;
  padding: 2px 3px;
}
/* line 68, ../sass/_EZcpr.sass */
.EZcpr_ct ._int {
  width: calc(100% - 16px);
}
/* line 71, ../sass/_EZcpr.sass */
.EZcpr_ct._art:before, .EZcpr_ct._msg:before {
  content: "";
  width: 10px;
  height: 5px;
  display: block;
  float: right;
  margin-top: -12px;
  background: url(../images/img_art.png) no-repeat 0 0;
}
/* line 80, ../sass/_EZcpr.sass */
.EZcpr_ct._art:before {
  margin-right: 20px;
}
/* line 3, ../sass/EZ-ext.sass */
.EZcpr_ct._msg:after {
  content: "";
  display: table;
  clear: both;
}
/* line 84, ../sass/_EZcpr.sass */
.EZcpr_ct._msg:before {
  margin-right: 7px;
}

/* line 87, ../sass/_EZcpr.sass */
.EZcpr_i,
a.EZcpr_i {
  display: block;
  border-bottom: 1px solid #eeeeee;
  font-size: 0;
  white-space: nowrap;
  line-height: 1em;
}
/* line 94, ../sass/_EZcpr.sass */
.EZcpr_i:hover, .EZcpr_i._focus,
a.EZcpr_i:hover,
a.EZcpr_i._focus {
  background-color: #f9f9f9;
}
/* line 98, ../sass/_EZcpr.sass */
.EZcpr_i._crt .EZcpr_g,
a.EZcpr_i._crt .EZcpr_g {
  color: #da4a38;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
}
/* line 102, ../sass/_EZcpr.sass */
.EZcpr_i._crt .EZcpr_g:before,
a.EZcpr_i._crt .EZcpr_g:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 32px;
  background: url(../images/EZcpr.png) no-repeat;
  margin: -3px 2px 0 0 !important;
  vertical-align: middle;
}
/* line 111, ../sass/_EZcpr.sass */
.EZcpr_i:first-child._crt .EZcpr_g:before,
a.EZcpr_i:first-child._crt .EZcpr_g:before {
  width: 80px;
  height: 24px;
  background-image: url(../images/EZcheap.png);
  margin: -4px 0 0 !important;
  background-size: cover;
}

/* line 116, ../sass/_EZcpr.sass */
.EZcpr_s, .EZcpr_p, .EZcpr_g, .EZcpr_Logistics, .EZcpr_more {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 26px;
  line-height: 26px;
  font-size: 13px;
  padding: 4px 8px !important;
}

/* line 126, ../sass/_EZcpr.sass */
.EZcpr_s {
  width: 120px;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 132, ../sass/_EZcpr.sass */
.EZcpr_p {
  text-align: right;
  width: 56px;
  color: #ff6706;
}

/* line 136, ../sass/_EZcpr.sass */
.EZcpr_g {
  text-align: center;
  width: 88px;
  color: #6699cc;
  padding: 4px 3px !important;
}

/* line 141, ../sass/_EZcpr.sass */
.EZcpr_coupon {
  position: relative;
  height: 0;
  left: 100%;
  top: -29px;
  margin-left: 2px;
}

/* line 147, ../sass/_EZcpr.sass */
.EZcpr_coupon_link {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  line-height: 20px;
  height: 20px;
  width: inherit;
  font-size: 12px;
  background-color: #ff6706 !important;
  color: white;
  text-decoration: none;
  padding: 1px 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px;
}
/* line 161, ../sass/_EZcpr.sass */
.EZcpr_coupon_link:before {
  display: block;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid #ff6706;
  border-bottom: 6px solid transparent;
  content: "";
  position: absolute;
  left: -5px;
  top: 5px;
}
/* line 166, ../sass/_EZcpr.sass */
.EZcpr_coupon_link:hover {
  top: -1px;
  color: white;
}
/* line 169, ../sass/_EZcpr.sass */
.EZcpr_coupon_link:active {
  top: 0;
}

/* line 171, ../sass/_EZcpr.sass */
.EZcpr_mr {
  position: relative;
  height: 24px;
}
/* line 174, ../sass/_EZcpr.sass */
.EZcpr_mr:hover {
  background-color: transparent;
}
/* line 176, ../sass/_EZcpr.sass */
.EZcpr_mr:before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: #bcc1cc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px !important;
  margin-left: -1px !important;
  -webkit-box-shadow: #bcc1cc 0 -4px, #bcc1cc 0 4px;
  -moz-box-shadow: #bcc1cc 0 -4px, #bcc1cc 0 4px;
  box-shadow: #bcc1cc 0 -4px, #bcc1cc 0 4px;
}

/* line 188, ../sass/_EZcpr.sass */
.EZcpr_ft {
  margin: 4px 8px 4px !important;
  font-size: 12px;
  color: #a1a8b8;
  background: #eee;
  padding-top: 8px;
}
/* line 192, ../sass/_EZcpr.sass */
.EZcpr_ft:after {
  content: "";
  display: block;
  clear: both;
}
/* line 196, ../sass/_EZcpr.sass */
.EZcpr_ft a {
  text-decoration: none;
  color: #6699cc;
}

/* line 198, ../sass/_EZcpr.sass */
.EZcpr_h {
  float: left;
  position: relative;
}
/* line 202, ../sass/_EZcpr.sass */
// .EZcpr_h:hover .EZcpr_h_bt {
//   background-color: #fffdf1;
//   border-color: #d4d2c3;
//   color: #656c7d;
// }
/* line 206, ../sass/_EZcpr.sass */
.EZcpr_h:hover .EZcpr_h_bt:after {
  border-top-color: #656c7d;
}
/* line 208, ../sass/_EZcpr.sass */
.EZcpr_h:hover .EZcpr_h_b {
  display: block;
  background-color: #fffdf1;
  border-color: #d4d2c3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
}

/* line 213, ../sass/_EZcpr.sass */
.EZcpr_h_bt {
  padding: 4px 6px !important;
  margin-top: -5px !important;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  z-index: 2;
  line-height: 14px;
}
/* line 224, ../sass/_EZcpr.sass */
// .EZcpr_h_bt:after {
//   content: "";
//   display: inline-block;
//   height: 0;
//   width: 0;
//   border-top: 4px solid #a1a8b8;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
//   vertical-align: middle;
//   margin: -2px 0 0 4px !important;
// }

/* line 234, ../sass/_EZcpr.sass */
.EZcpr_h_b {
  display: none;
  position: absolute;
  width: 288px;
  padding: 10px 12px !important;
  border: 1px solid transparent;
  top: 17px;
  z-index: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #9e9485;
  line-height: 1.5em;
}
/* line 245, ../sass/_EZcpr.sass */
.EZcpr_h_b:after {
  content: "";
  display: block;
  clear: both;
}

/* line 249, ../sass/_EZcpr.sass */
.EZcpr_h_p {
  float: left;
  color: #ff6706;
}

/* line 252, ../sass/_EZcpr.sass */
.EZcpr_h_s {
  color: #9e9485;
}

/* line 254, ../sass/_EZcpr.sass */
.EZcpr_h_dr {
  float: right;
  padding-left: 3em !important;
  position: relative;
}

/* line 258, ../sass/_EZcpr.sass */
.EZcpr_h_drt {
  position: absolute;
  left: 0;
}

/* line 262, ../sass/_EZcpr.sass */
.EZcpr_back {
  float: right;
  width: 82px;
  text-align: center;
}
/* line 266, ../sass/_EZcpr.sass */
.EZcpr_back a {
  text-decoration: none !important;
  font-size: 13px !important;
  color: #6699cc !important;
}
/* line 270, ../sass/_EZcpr.sass */
.EZcpr_back a:hover {
  text-decoration: underline !important;
}

/* line 272, ../sass/_EZcpr.sass */
.EZcpr_desc {
  margin: 5px 0 0 4px !important;
  font-size: 12px;
  line-height: 18px;
  color: #dddddd;
  white-space: nowrap;
  -webkit-transform: scale(0.875);
  -moz-transform: scale(0.875);
  -ms-transform: scale(0.875);
  -o-transform: scale(0.875);
  transform: scale(0.875);
}

/* line 280, ../sass/_EZcpr.sass */
.EZcpr_msg {
  font-family: Arial, serif;
  font-size: 11px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 3, ../sass/EZ-ext.sass */
.EZcpr_msg:after {
  content: "";
  display: table;
  clear: both;
}

/* line 286, ../sass/_EZcpr.sass */
.EZcpr_pot {
  float: left;
  width: 40px;
  margin: 0 8px 0 0;
}

/* line 290, ../sass/_EZcpr.sass */
.EZcpr_tex {
  margin-bottom: 4px;
  float: right;
  width: calc(100% - 40px - 8px);
}

/* line 3, ../sass/EZ-ext.sass */
.EZcpr_nb:after {
  content: "";
  display: table;
  clear: both;
}
/* line 297, ../sass/_EZcpr.sass */
.EZcpr_nb span {
  display: block;
  line-height: 20px;
}

/* line 300, ../sass/_EZcpr.sass */
.EZcpr_msg_cls {
  margin-bottom: 8px;
}
/* line 3, ../sass/EZ-ext.sass */
.EZcpr_msg_cls:after {
  content: "";
  display: table;
  clear: both;
}

/* line 303, ../sass/_EZcpr.sass */
.EZcpr_msg_cls_btn {
  float: right;
  margin-right: 3px;
  font-size: 11px;
  color: #afaeae;
  cursor: pointer;
}
/* line 309, ../sass/_EZcpr.sass */
.EZcpr_msg_cls_btn:hover {
  color: #666666;
}

/* line 312, ../sass/_EZcpr.sass */
.EZcpr_nb_n {
  float: left;
  color: #414141;
}

/* line 315, ../sass/_EZcpr.sass */
.EZcpr_nb_t {
  float: left;
  color: #bebebe;
  margin-left: 8px;
}

/* line 319, ../sass/_EZcpr.sass */
.EZcpr_nb_a {
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 4px;
  float: right;
}
/* line 324, ../sass/_EZcpr.sass */
.EZcpr_nb_a._on {
  background: #ff6706;
}
/* line 326, ../sass/_EZcpr.sass */
.EZcpr_nb_a._fin {
  background: #6b9c56;
}

/* line 329, ../sass/_EZcpr.sass */
.EZcpr_tx {
  color: gray;
  line-height: 1.5;
  margin-top: 6px;
  padding-right: 6px;
}
/* line 334, ../sass/_EZcpr.sass */
.EZcpr_tx .viewport {
  width: 100%;
  height: 107px;
  overflow: hidden;
  position: relative;
}
/* line 339, ../sass/_EZcpr.sass */
.EZcpr_tx .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 344, ../sass/_EZcpr.sass */
.EZcpr_tx .scrollbar {
  position: absolute;
  right: 0;
  width: 3px;
  z-index: 500;
}
/* line 349, ../sass/_EZcpr.sass */
.EZcpr_tx .track {
  background-color: #f3f3f3;
  height: 100%;
  width: 3px;
  position: relative;
}
/* line 354, ../sass/_EZcpr.sass */
.EZcpr_tx .thumb {
  background-color: #d6d6d6;
  height: 20px;
  width: 3px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}
/* line 362, ../sass/_EZcpr.sass */
.EZcpr_tx .disable {
  display: none;
}

/* line 365, ../sass/_EZcpr.sass */
.EZcpr_ct_t {
  color: #4d4d4d;
  display: block;
  padding: 5px 3px;
  font-family: Arial, serif;
  white-space: normal;
}

/* line 370, ../sass/_EZcpr.sass */
.EZcpr_ct_tb {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #6f6f6f;
}
/* line 375, ../sass/_EZcpr.sass */
.EZcpr_ct_tb li {
  position: relative;
  line-height: 24px;
  padding: 0!important;
  max-height: 24px;
}
/* line 3, ../sass/EZ-ext.sass */
.EZcpr_ct_tb li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 379, ../sass/_EZcpr.sass */
.EZcpr_ct_tb li label {
  width: calc(100% - 25px);
  display: inline;
  padding-left: 10px;
  cursor: pointer;
}
/* line 387, ../sass/_EZcpr.sass */
.EZcpr_ct_tb li input {
  vertical-align: middle;
  top: 0;
}
/* line 389, ../sass/_EZcpr.sass */
.EZcpr_ct_tb li input[type=text] {
  width: 260px;
  margin-left: 10px;
}

/* line 392, ../sass/_EZcpr.sass */
.EZcpr_w .EZcpr_ct_btn {
  text-align: right;
  margin: 12px 0;
  padding: 0 9px;
}
/* line 396, ../sass/_EZcpr.sass */
.EZcpr_ct_btn a {
  color: #656c7d;
  margin-right: 10px;
}
/* line 399, ../sass/_EZcpr.sass */
.EZcpr_ct_btn a:hover {
  color: #474e5d;
}
/* line 401, ../sass/_EZcpr.sass */
.EZcpr_ct_btn .continue_btn{
  background: #ff6706;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  color: white;
  padding: 4px 10px;
  box-shadow: 0px 1px 2px rgba(0, 3, 0, 0.4);
  cursor: pointer;
}
/* line 409, ../sass/_EZcpr.sass */
.EZcpr_ct_btn .continue_btn:hover {
  opacity: 0.7;
}

.EZcpr_ct_btn .cancel_btn{
  background: #656c7d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  color: white;
  padding: 4px 10px;
  box-shadow: 0px 1px 2px rgba(0, 3, 0, 0.4);
  cursor: pointer;
}
.EZcpr_ct_btn .cancel_btn:hover{
  opacity: 0.7
}
.EZcpr_ct_btn .transmit_btn{
  background: #aeaeae;
  -webkit-border-radius: 2px;
  -moz-Ã¥â€šÂ³Ã©â‚¬Âborder-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  color: white;
  padding: 4px 10px;
  box-shadow: 0px 1px 2px rgba(0, 3, 0, 0.4);
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}
.EZcpr_ct_btn .transmit_btn:hover{
  color: white;
}
.EZcpr_ct_btn .transmit_btn img{
  vertical-align: middle;
  margin-left: 5px;
  width: auto;
}

/* line 1, ../sass/_EZsug.sass */
.EZsug_w {
  width: 100%;
  margin: 30px 0 45px !important !important;
  font-size: 13px;
}

/* line 5, ../sass/_EZsug.sass */
.EZsug {
  background-color: white;
  padding: 20px 26px !important;
}

/* line 8, ../sass/_EZsug.sass */
.EZsug_hd {
  margin-bottom: 12px !important;
}
/* line 3, ../sass/EZ-ext.sass */
.EZsug_hd:after {
  content: "";
  display: table;
  clear: both;
}

/* line 11, ../sass/_EZsug.sass */
.EZsug_t {
  font-size: 15px;
  font-weight: 900;
  float: left;
  color: #333333;
}

/* line 16, ../sass/_EZsug.sass */
.EZsug_t_l {
  font-weight: 400;
}
/* line 18, ../sass/_EZsug.sass */
.EZsug_t_l a {
  color: #6699cc;
  text-decoration: none;
}
/* line 21, ../sass/_EZsug.sass */
.EZsug_t_l a:hover {
  text-decoration: underline;
}

/* line 23, ../sass/_EZsug.sass */
.EZsug_pw {
  float: right;
  padding: 0 4px !important;
  color: #a1a8b8;
}
/* line 27, ../sass/_EZsug.sass */
.EZsug_pw a {
  color: #a1a8b8;
  text-decoration: none;
}
/* line 30, ../sass/_EZsug.sass */
.EZsug_pw a:hover {
  text-decoration: underline;
  color: #6699cc;
}

/* line 3, ../sass/EZ-ext.sass */
.EZsug_ct:after {
  content: "";
  display: table;
  clear: both;
}

/* line 35, ../sass/_EZsug.sass */
.EZsug_i {
  float: left;
  width: 22%;
  margin-left: 4% !important;
  position: relative;
  text-decoration: none;
}
/* line 41, ../sass/_EZsug.sass */
.EZsug_i:first-child {
  margin-left: 0 !important;
}

/* line 43, ../sass/_EZsug.sass */
.EZsug_i_i {
  position: relative;
  display: block;
  margin-bottom: 13px !important;
}
/* line 47, ../sass/_EZsug.sass */
.EZsug_i_i img {
  display: block;
  max-width: 100%;
  border: 0;
}
/* line 52, ../sass/_EZsug.sass */
.EZsug_i_i:hover .EZsug_i_n,
.EZsug_i_i:hover .EZsug_i_p {
  text-decoration: underline;
}

/* line 55, ../sass/_EZsug.sass */
.EZsug_i_f {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px 6px !important;
}

/* line 60, ../sass/_EZsug.sass */
.EZsug_i_n {
  height: 3em;
  overflow: hidden;
}

/* line 63, ../sass/_EZsug.sass */
.EZsug_i_n,
.EZsug_i_p {
  font-size: 12px;
  line-height: 1.5em;
  color: white;
}

/* line 69, ../sass/_EZsug.sass */
.EZsugt_i {
  position: relative;
}

/* line 71, ../sass/_EZsug.sass */
.EZsugt_i_t {
  position: absolute;
  font-size: 12px;
  color: #9e9485;
  line-height: 16px;
}

/* line 76, ../sass/_EZsug.sass */
.EZsugt_i_r {
  margin-left: 33px !important;
  position: relative;
  height: 16px;
  background-color: #f6f6f6;
  -webkit-box-shadow: #e3e3e3 -1px 0;
  -moz-box-shadow: #e3e3e3 -1px 0;
  box-shadow: #e3e3e3 -1px 0;
  cursor: pointer;
}
/* line 83, ../sass/_EZsug.sass */
.EZsugt_i_r:before, .EZsugt_i_r:after {
  position: absolute;
  content: "";
  display: block;
  width: 20%;
  height: 100%;
  background-color: white;
}
/* line 91, ../sass/_EZsug.sass */
.EZsugt_i_r:before {
  left: 20%;
}
/* line 93, ../sass/_EZsug.sass */
.EZsugt_i_r:after {
  left: 60%;
}
/* line 96, ../sass/_EZsug.sass */
.EZsugt_i_r:hover .EZsugt_i_d {
  display: block;
}

/* line 98, ../sass/_EZsug.sass */
.EZsugt_i_s {
  position: absolute;
  top: 50%;
  margin-top: -1px !important;
  height: 2px;
  background-color: #ff6706;
  -webkit-box-shadow: #ff6706 -1px 0;
  -moz-box-shadow: #ff6706 -1px 0;
  box-shadow: #ff6706 -1px 0;
  z-index: 1;
}

/* line 106, ../sass/_EZsug.sass */
.EZsugt_i_d {
  display: none;
  position: absolute;
  left: 36px;
  top: -28px;
  z-index: 2;
  background-color: #fffdf1;
  color: #9e9485;
  padding: 4px 6px !important;
  border: 1px solid #d4d2c3;
  font-size: 12px;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
}
/* line 120, ../sass/_EZsug.sass */
.EZsugt_i_d i {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid #c4c1ae;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  left: 50%;
  margin-left: -5px !important;
  bottom: -5px;
}
/* line 130, ../sass/_EZsug.sass */
.EZsugt_i_d i:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid #fffdf1;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  left: -4px;
  bottom: 1px;
}

/* line 2, ../sass/_EZsrch.sass */
.EZsrch_w._y {
  margin: 0 20px 30px 10px !important;
}
/* line 4, ../sass/_EZsrch.sass */
.EZsrch_w._y .EZsrch_hd {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 12px !important;
}
/* line 7, ../sass/_EZsrch.sass */
.EZsrch_w._y .EZsrch_t {
  font-size: 15px;
  font-weight: 900;
}
/* line 10, ../sass/_EZsrch.sass */
.EZsrch_w._y .EZsrch_s {
  color: #1e7d83;
}
/* line 12, ../sass/_EZsrch.sass */
.EZsrch_w._g {
  margin-bottom: 23px !important;
}
/* line 14, ../sass/_EZsrch.sass */
.EZsrch_w._g .EZsrch {
  padding: 18px 0 22px !important;
  border: solid #eeeeee;
  border-width: 1px 0;
}
/* line 18, ../sass/_EZsrch.sass */
.EZsrch_w._g .EZsrch_hd {
  margin: 0 8px 16px !important;
}
/* line 20, ../sass/_EZsrch.sass */
.EZsrch_w._g .EZsrch_t {
  font-size: 16px;
}
/* line 22, ../sass/_EZsrch.sass */
.EZsrch_w._g .EZsrch_s {
  color: #1a0dab;
}

/* line 25, ../sass/_EZsrch.sass */
.EZsrch_h {
  line-height: 19px;
  padding: 4px 0 !important;
}

/* line 28, ../sass/_EZsrch.sass */
.EZsrch_t {
  color: #5f5f5f;
}

/* line 30, ../sass/_EZsrch.sass */
.EZsrch_pw {
  float: right;
  color: #a1a8b8;
  font-size: 12px;
}
/* line 34, ../sass/_EZsrch.sass */
.EZsrch_pw a {
  color: #a1a8b8;
  text-decoration: none;
}
/* line 37, ../sass/_EZsrch.sass */
.EZsrch_pw a:hover {
  text-decoration: underline;
  color: #6699cc;
}

/* line 41, ../sass/_EZsrch.sass */
.EZsrch_ct:after {
  content: "";
  display: block;
  clear: both;
}

/* line 45, ../sass/_EZsrch.sass */
.EZsrch_i {
  float: left;
  width: 30.4%;
  margin-left: 4.4% !important;
}
/* line 49, ../sass/_EZsrch.sass */
.EZsrch_i:first-child {
  margin-left: 0 !important;
}

/* line 51, ../sass/_EZsrch.sass */
.EZsrch_i_n {
  font-size: 15px;
  line-height: 17px;
  max-height: 34px;
  overflow: hidden;
}

/* line 56, ../sass/_EZsrch.sass */
.EZsrch_i_i {
  margin: 12px auto !important;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
/* line 61, ../sass/_EZsrch.sass */
.EZsrch_i_i img {
  display: block;
  height: 100%;
}

/* line 65, ../sass/_EZsrch.sass */
a.EZsrch_i_f_i {
  display: block;
  border-bottom: 1px solid #eeeeee;
  font-size: 0;
  white-space: nowrap;
  line-height: 1em;
}
/* line 71, ../sass/_EZsrch.sass */
a.EZsrch_i_f_i:hover {
  background-color: #f9f9f9;
}
/* line 73, ../sass/_EZsrch.sass */
a.EZsrch_i_f_i:hover .EZsrch_s {
  text-decoration: underline;
}

/* line 75, ../sass/_EZsrch.sass */
.EZsrch_s,
.EZsrch_p {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 2px 3% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 86, ../sass/_EZsrch.sass */
.EZsrch_s {
  width: 56%;
}

/* line 88, ../sass/_EZsrch.sass */
.EZsrch_p {
  text-align: right;
  width: 32%;
  color: #ff6706;
}

/* line 92, ../sass/_EZsrch.sass */
.EZsrch_ft {
  margin-top: 6px !important;
  font-size: 12px;
  color: #a1a8b8;
}
/* line 96, ../sass/_EZsrch.sass */
.EZsrch_ft:after {
  content: "";
  display: block;
  clear: both;
}
/* line 100, ../sass/_EZsrch.sass */
.EZsrch_ft a {
  text-decoration: none;
}

/* line 102, ../sass/_EZsrch.sass */
.EZsrch_h {
  float: left;
  position: relative;
}
/* line 106, ../sass/_EZsrch.sass */
.EZsrch_h:hover .EZsrch_h_bt {
  background-color: #fffdf1;
  border-color: #d4d2c3;
  color: #656c7d;
}
/* line 110, ../sass/_EZsrch.sass */
.EZsrch_h:hover .EZsrch_h_bt:after {
  border-top-color: #656c7d;
}
/* line 112, ../sass/_EZsrch.sass */
.EZsrch_h:hover .EZsrch_h_b {
  display: block;
  background-color: #fffdf1;
  border-color: #d4d2c3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
}

/* line 117, ../sass/_EZsrch.sass */
.EZsrch_h_bt {
  padding: 4px 4px 0 4px !important;
  margin-top: -5px !important;
  line-height: 14px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  z-index: 2;
}
/* line 128, ../sass/_EZsrch.sass */
.EZsrch_h_bt:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 4px solid #a1a8b8;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
  margin: -2px 0 0 4px !important;
}

/* line 138, ../sass/_EZsrch.sass */
.EZsrch_h_b {
  display: none;
  position: absolute;
  width: 142px;
  padding: 6px 8px !important;
  border: 1px solid transparent;
  top: 17px;
  z-index: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #9e9485;
  line-height: 1.5em;
}
/* line 149, ../sass/_EZsrch.sass */
.EZsrch_h_b:after {
  content: "";
  display: block;
  clear: both;
}

/* line 153, ../sass/_EZsrch.sass */
.EZsrch_h_p {
  color: #ff6706;
}

/* line 155, ../sass/_EZsrch.sass */
.EZsrch_h_s {
  display: inline-block;
  color: #9e9485;
  margin-right: 5px !important;
}

/* line 165, ../sass/_EZsrch.sass */
.EZsrchS_w {
  background-color: white;
}
/* line 167, ../sass/_EZsrch.sass */
.EZsrchS_w._y {
  border: 1px solid #e2e2e6;
  width: 252px;
}
/* line 170, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_hd {
  background: #fbfbff;
  padding: 6px 10px !important;
}
/* line 173, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_t {
  font-weight: 900;
  color: #5f5f5f;
}
/* line 176, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_ct {
  padding: 10px !important;
}
/* line 178, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_s,
.EZsrchS_w._y .EZsrchS_p {
  font-size: 12px;
  padding: 4px 5px !important;
}
/* line 182, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_s {
  color: #1e7d83;
  width: 146px;
}
/* line 185, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_i_n {
  font-size: 15px;
  line-height: 17px;
  max-height: 34px;
}
/* line 189, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_ft {
  margin-top: 9px !important;
}
/* line 191, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_ft:after {
  content: "";
  display: block;
  clear: both;
}
/* line 195, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_h {
  float: left;
}
/* line 198, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_h:hover .EZsrchS_h_b {
  border-color: #d4d2c3;
}
/* line 200, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_h_b {
  width: 210px;
  padding: 8px 10px !important;
  border: 1px solid transparent;
  top: 17px;
}
/* line 205, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_h_drt {
  left: 0;
}
/* line 207, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_h_bt {
  margin-top: -5px !important;
  padding: 4px !important;
  line-height: 14px;
}
/* line 211, ../sass/_EZsrch.sass */
.EZsrchS_w._y .EZsrchS_pw {
  float: right;
  margin-right: 5px !important;
}
/* line 214, ../sass/_EZsrch.sass */
.EZsrchS_w._g {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  width: 278px;
}
/* line 217, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_hd {
  padding: 7px 15px !important;
  border-bottom: 1px solid #eeeeee;
}
/* line 220, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_t {
  color: #777777;
}
/* line 222, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_s,
.EZsrchS_w._g .EZsrchS_p {
  font-size: 13px;
  padding: 4px 8px !important;
}
/* line 226, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_s {
  color: #1a0dab;
  width: 150px;
}
/* line 229, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_i_n {
  font-size: 18px;
  margin: 12px 15px !important;
  line-height: 24px;
  max-height: 48px;
}
/* line 234, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_i_i {
  margin: 12px 15px !important;
}
/* line 236, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_i_f_l {
  margin: 20px 15px 10px !important;
}
/* line 238, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_i_f_i:last-child {
  border-bottom: 0;
}
/* line 240, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_ft {
  position: relative;
  border-top: 1px solid #eeeeee;
}
/* line 243, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_h {
  margin: 4px !important;
  padding-bottom: 3px !important;
}
/* line 247, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_h:hover .EZsrchS_h_bt {
  border-bottom-color: #eeecdd;
}
/* line 249, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_h_bt {
  padding: 6px 8px !important;
  text-align: center;
  border-bottom: 1px solid transparent;
}
/* line 253, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_h_b {
  width: 100%;
  top: 28px;
}
/* line 256, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_h_p {
  border: solid #d4d2c3;
  border-width: 0 1px;
  padding: 0.8em 0.8em 0 !important;
}
/* line 260, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_h_dr {
  border: solid #d4d2c3;
  border-width: 0 1px 1px;
  padding: 0 0.8em 0.5em 3.8em !important;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 265, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_h_drt {
  left: 0.8em;
}
/* line 267, ../sass/_EZsrch.sass */
.EZsrchS_w._g .EZsrchS_pw {
  position: absolute;
  display: block;
  width: 94%;
  text-align: right;
  top: 40px;
  right: 3%;
}

/* line 275, ../sass/_EZsrch.sass */
.EZsrchS_t {
  font-size: 13px;
  line-height: 19px;
}

/* line 279, ../sass/_EZsrch.sass */
.EZsrchS_i_n {
  overflow: hidden;
}

/* line 281, ../sass/_EZsrch.sass */
.EZsrchS_i_i {
  margin: 12px 0 !important;
  min-height: 100px;
  max-height: 140px;
  overflow: hidden;
}
/* line 286, ../sass/_EZsrch.sass */
.EZsrchS_i_i img {
  display: block;
  min-height: 100%;
  max-height: 100%;
  margin: 0 auto !important;
}

/* line 292, ../sass/_EZsrch.sass */
a.EZsrchS_i_f_i {
  display: block;
  border-bottom: 1px solid #eeeeee;
  font-size: 0;
  white-space: nowrap;
  line-height: 1em;
}
/* line 298, ../sass/_EZsrch.sass */
a.EZsrchS_i_f_i:hover {
  background-color: #f9f9f9;
}
/* line 300, ../sass/_EZsrch.sass */
a.EZsrchS_i_f_i:hover .EZsrchS_s {
  text-decoration: underline;
}

/* line 302, ../sass/_EZsrch.sass */
.EZsrchS_s,
.EZsrchS_p {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 311, ../sass/_EZsrch.sass */
.EZsrchS_p {
  text-align: right;
  width: 66px;
  color: #ff6706;
}

/* line 315, ../sass/_EZsrch.sass */
.EZsrchS_ft {
  font-size: 12px;
  color: #a1a8b8;
}
/* line 318, ../sass/_EZsrch.sass */
.EZsrchS_ft a {
  text-decoration: none;
}

/* line 320, ../sass/_EZsrch.sass */
.EZsrchS_h {
  position: relative;
}
/* line 323, ../sass/_EZsrch.sass */
.EZsrchS_h:hover .EZsrchS_h_bt {
  background-color: #fffdf1;
  border-color: #d4d2c3;
  color: #656c7d;
}
/* line 327, ../sass/_EZsrch.sass */
.EZsrchS_h:hover .EZsrchS_h_bt:after {
  border-top-color: #656c7d;
}
/* line 329, ../sass/_EZsrch.sass */
.EZsrchS_h:hover .EZsrchS_h_b {
  display: block;
  background-color: #fffdf1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.11) 0 2px 4px;
}

/* line 333, ../sass/_EZsrch.sass */
.EZsrchS_h_bt {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  z-index: 2;
}
/* line 341, ../sass/_EZsrch.sass */
.EZsrchS_h_bt:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 4px solid #a1a8b8;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
  margin: -2px 0 0 4px !important;
}

/* line 351, ../sass/_EZsrch.sass */
.EZsrchS_h_b {
  display: none;
  position: absolute;
  z-index: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #9e9485;
  line-height: 1.5em;
}
/* line 358, ../sass/_EZsrch.sass */
.EZsrchS_h_b:after {
  content: "";
  display: block;
  clear: both;
}

/* line 362, ../sass/_EZsrch.sass */
.EZsrchS_h_p {
  color: #ff6706;
}

/* line 364, ../sass/_EZsrch.sass */
.EZsrchS_h_s {
  display: inline-block;
  color: #9e9485;
  margin-right: 5px !important;
}

/* line 368, ../sass/_EZsrch.sass */
.EZsrchS_h_dr {
  position: relative;
  padding-left: 3em !important;
}

/* line 371, ../sass/_EZsrch.sass */
.EZsrchS_h_drt {
  position: absolute;
  top: 0;
}

/* line 375, ../sass/_EZsrch.sass */
.EZsrchS_pw {
  color: #a1a8b8;
  font-size: 12px;
}
/* line 378, ../sass/_EZsrch.sass */
.EZsrchS_pw a {
  color: #a1a8b8;
  text-decoration: none;
}
/* line 381, ../sass/_EZsrch.sass */
.EZsrchS_pw a:hover {
  text-decoration: underline;
  color: #6699cc;
}
.clearfix:after { 
  content: ""; 
  display: block; 
  clear: both;
}
.EZcpr_more:hover {
  background: #a1a8b8;
  /* border-radius: 50%; */
  color: #FFF;
  width: 10px;
  height: 26px;
  /* margin-top: 4px; */
  /* line-height: 13px; */
}

.EZcpr_more {
  color: #666;
  margin-left: 4px;
}

.EZcpr_Logistics {
    color: #666;
    position: relative;
    display: inline-block;
    /* white-space: nowrap; */
    /* line-height: 20px; */
    /* height: 20px; */
    /* width: inherit; */
    font-size: 12px;
    /* background-color: #eee; */
    /* text-decoration: none; */
    /* padding: 1px 7px; */
    /* -webkit-border-radius: 5px; */
    // -moz-border-radius: 5px;
    // -ms-border-radius: 5px;
    // -o-border-radius: 5px;
    /* border-radius: 5px; */
    /* -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px; */
    // -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0 1px 3px; */
}

// .EZcpr_Logistics:before {
//     display: block;
//     height: 0;
//     width: 0;
//     border-top: 6px solid transparent;
//     border-right: 6px solid #eee;
//     border-bottom: 6px solid transparent;
//     content: "";
//     position: absolute;
//     left: -5px;
//     top: 5px;
// }

/* NEW ADDS */

.EZcpr_Logistics span {
  color: #FF6706;
  font-size: 14px;
  font-weight: bold;
}

.EZcpr_w .orange-style {
  border: 1px solid #ff6706;
} 

.EZcpr_w .orange-hd {
  background: #ff6706;
}

.EZcpr_i .most-buy {
  /* background: #FF7B28; */
  padding: 0 !important;
  color: #FF7B28;
  font-weight: bold;
  height: auto;
  margin: 4px;
}

.EZguide-link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
}

.EZcpr {
  width: 325px;
  margin: 20px 0 10px 0;
}

.EZcpr_desc {
    transform-origin: 0;
}

.EZcpr_hd {
  /* height: 40px; */
}

.EZcpr_fback {
  margin: 2px 0 0 10px;
  color: #FFF;
  float: right;
  font-size: 12px;
}